.clearfix:after {
     visibility: hidden;
     display: block;
     font-size: 0;
     content: " ";
     clear: both;
     height: 0;
     }
.clearfix { display: inline-block; }
/* start commented backslash hack \*/
* html .clearfix { height: 1%; }
.clearfix { display: block; }
/* close commented backslash hack */




/*! Custom styles for Panda */




html {
    background: #e1e1e1; /* also e5 is nice*/
	min-height: 100%;
	margin: auto;
}

#header {
    background: #03a9f4;
    color: white;
    height: 90px;
    display: block;
    padding: 10px 10px 10px 10px;
    
}

nav ul li {
    display: block;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-size: large;
}


#container {
    width: 80%;
    margin: 0 auto;
    padding: 10 10 10 10;
    padding-top: 30px;
}

#left {
    float: left;
    width: 50%;
}


#right {
    float: left;
    width: 50%;
    overflow: hidden;
}


#dropshadow {
    position: absolute;
    top: 90px;
    left: 0;
    right: 0;
    height: 6px;
    box-shadow: inset 0px 5px 6px -3px rgba(0, 0, 0, 0.4);
}

/* has results of ajax call.*/
#info-card .card-title {
    /*background: rgba(22, 174, 105, 0.89);*/
    background: rgba(54, 185, 125, 0.89);
}



#cd-dropdown {

}


/* floating paper button*/
.paper-button {
    background: #dfdfdf;
    text-align: center;
    text-transform: uppercase;
    cursor: pointer;
    border-style: none;
    border-radius: 3px;     /*  rounded edges*/
    
    /* shadows */
    box-shadow: 1px 1px 3px #888888;
    font-size: 14px;
    
}

#calibre-button {
    bottom: 3px;
    right: 3px; 
    position: absolute;
} 

