.clearfix:after {
     visibility: hidden;
     display: block;
     font-size: 0;
     content: " ";
     clear: both;
     height: 0;
     }
.clearfix { display: inline-block; }
/* start commented backslash hack \*/
* html .clearfix { height: 1%; }
.clearfix { display: block; }
/* close commented backslash hack */




/*! Custom styles for Panda */




html {
    background: #e1e1e1; /* also e5 is nice*/
	min-height: 100%;
	margin: auto;
	height: 100%;
}

body {
    overflow-x: hidden;
    height: 100%;
}

#header {
    background: #03a9f4;
    color: white;
    height: 40px;
    display: block;
    box-shadow: 0px 3px rgba( 0, 0, 0, 0.1 );
    
}

#nav-container {
    width: 800px;
    margin: 0 auto;
    height: 40px;
}

nav ul {
    height: 100%;
}

nav ul li {
    display: block; /* block for vertical */
    float: left;
    height: 100%;
    padding-left: 20px;
    padding-right: 20px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-size: large;
    line-height: 40px;
}

nav ul li a:hover {
    color: #e1e1e1;
}

#container {
    width: 80%;
    margin: 0 auto;
    padding: 10 10 10 10;
    padding-top: 30px;
}

#left {
    float: left;
}


#right {
    float: left;
    overflow: hidden;
}


#dropshadow {
    position: absolute;
    top: 90px;
    left: 0;
    right: 0;
    height: 6px;
    box-shadow: inset 0px 5px 6px -3px rgba(0, 0, 0, 0.4);
}

/* has results of ajax call.*/
#info-card .card-title {
    /*background: rgba(22, 174, 105, 0.89);*/
    background: rgba(54, 185, 125, 0.89);
}

#service .card-title {
    /*background: rgba(22, 174, 105, 0.89);*/
    background: rgba(0, 185, 125, 0.89);
}

#status .card-title {
    /*background: rgba(22, 174, 105, 0.89);*/
    background: rgba(54, 0, 125, 0.89);
}

#script .card-title {
    /*background: rgba(22, 174, 105, 0.89);*/
    background: rgba(54, 185, 0, 0.89);
}


#cd-dropdown {

}


/* floating paper button*/
.paper-button {
    background: #dfdfdf;
    text-align: center;
    text-transform: uppercase;
    cursor: pointer;
    border-style: none;
    border-radius: 3px;     /*  rounded edges*/
    
    /* shadows */
    box-shadow: 1px 1px 3px #888888;
    font-size: 14px;
    padding: 5px;
    
}

.bottom-right {
    bottom: 10px;
    right: 10px; 
    position: absolute;
} 

.bottom-left {
    bottom: 10px;
    left: 10px; 
    position: absolute;
} 

.bottom-right-mid {
    bottom: 10px;
    right: 100px; 
    position: absolute;
} 

.bottom-left-mid {
    bottom: 10px;
    left: 100px; 
    position: absolute;
} 

.bottom-mid {
    bottom: 10px;
    left: 200px; 
    position: absolute;
} 

