#drop-nav {
    display: none;
}


div.card {
	width: 300px;
}

#left {
    float: left;
}


#right {
    float: left;
    overflow: hidden;
}


#nav-container {
    height: 40px;
}

nav ul li {
    padding-left: 10px;
    padding-right: 10px;
}
